.multi-select-wrapper {
  position: relative;
  .dropdown {
    position: absolute;
    left: 0;
    top: 45px;
    width: 100%;
    padding: .5rem;
    .option-list {
      max-height: 150px;
      margin-top: .5rem;
      overflow: auto;
      .option {
        padding: 0.5rem;
        &.add-new-item {
          color: var(--app-pink);
        }
        &.active {
          background-color: var(--body-bg);
        }
      }
    }
  }
}
