.expense-container {
    background-image: url('../../../assets/wrinkled-paper-texture.jpg');
    background-position: center;
    width: 100%;
    filter: brightness(110%);
    padding: 1rem;
    text-transform: uppercase;
    font-family: 'receipt', monospace;
    font-size: 1.5rem;
    line-height: 1.5rem;
    .expense-header {
      text-align: center;
      font-weight: 700;
      h1 {
        font-size: 32px;
        margin: 1rem 0;
      }
      h4 {
        font-size: 26px;
        margin-bottom: .5rem;
      }
    }
    table {
      border-collapse:separate; 
      tr:not(:last-child) {
        margin-bottom: 0;
        td {
          vertical-align: top;
          padding: .5rem 0;
        }
      }
    }
  }

  .dashed-line {
    border-top: 1px dashed;
    margin: 1rem 0;
    padding: .5rem;
  }

  .min-width-150-px {
    display: inline-block;
    min-width: 150px;
  }

